<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="com.tencent.mm" />
        <package android:name="com.xingin.xhs" />
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".VoiceDropApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL}" />
        <activity
            android:name=".RecordingsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="voicedrop" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="voicedrop.cn"
                    android:scheme="https" />
                <data
                    android:host="www.voicedrop.cn"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="jianshuo.dev"
                    android:pathPrefix="/voicedrop"
                    android:scheme="https" />
                <data
                    android:host="www.jianshuo.dev"
                    android:pathPrefix="/voicedrop"
                    android:scheme="https" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".ShareCollectActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CommunityActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RecordingDetailActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".InsertPhotoActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CommunityDetailActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SharedArticleActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".WechatSettingsActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".InstructionSettingsActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PromptEditActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PromptImportActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AccountActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PrivacyPolicyActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UsageActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
